.nombre {
background-color: gray;

}
.first {
text-align: center; 
color: red;

}
.ww {
width: 50% ;
background-image: url(C:\Users\Priscila\Documents\GitHub\Practica1\ww2.jpg);float: left;

}
.text1 {
text-align: center;color: blue;"
}
.ww {
width: 50%; 
border-radius: 50%; 
margin-left: 25%;
}
.info {
width: 50%;
background-color: gray;
float: center;"
}